<?xml version="1.0" encoding="UTF-8"?>
 
<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>phoneBook</display-name>
  
  	<servlet>
  		<servlet-name>phoneBookServlet</servlet-name>
  		<servlet-class>com.netcracker.odmg.secondgroup.zoxal.task1.PhoneBookController</servlet-class>
  		<init-param>
  			<param-name>DB_PATH</param-name>
  			<param-value>jdbc:mysql://localhost/nc1_phoneBook</param-value>
  		</init-param>  		
  		<init-param>
  			<param-name>DB_USER_LOGIN</param-name>
  			<param-value>nc1</param-value>
  		</init-param>
  		<init-param>
  			<param-name>DB_USER_PASSWORD</param-name>
  			<param-value>nc1_phoneBook</param-value>
  		</init-param>
  	</servlet>  
  	<servlet-mapping>
  	<servlet-name>phoneBookServlet</servlet-name>
  	<url-pattern>/app</url-pattern>
  </servlet-mapping>

<welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
 	</welcome-file-list>

 	
</web-app>
